*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 2.4rem 15rem;
    align-items: center;

}
.logo-container{
    display: flex;
}

.logo-text{
    text-align: center;
font-size: 45px;
font-weight: 700;
padding-left: 1rem;
color: #0B0223;
}
.span{
    color: #ff42a5;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
nav li{
    
    list-style: none;
}
.nav-follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
   padding: 18px 25px;
   display: flex;
   gap: 5px;
 
}

nav a{
    text-decoration: none;
}
/* section one */
.goat-section{
    
    display:flex;
    align-items: center;
    background-image: url('../images/group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
   
 }

 .play-like-this{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: uppercase;
 }
 .goat{
    text-align: center;
font-size: 95px;
font-weight: 800;

background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;;

 }

.goat-title{
    width: 50%;
}
.icon-desc{
    display: flex;
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
padding: 5px 0px;

    
}
.goat-icon{
    padding-left: 15rem;

}
.btn-1{
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
color: white;
}
.btn-2{
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: white;  
    padding: 21px 40px;
    gap: 10px; 
   margin-top: 1rem;
}
/* gamer section */

.gamer-section{
    display: flex;
    text-align: end;
    align-items: center;
    margin: 2.4rem 12rem; 
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-title{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0px;
}
.gamer-span{
    font-size: 24px;
    font-weight: 500;
}
.gamer-extra{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* games section */
.games-section{
    text-align: center;
    margin: 1rem 12rem;
}
.games-box-container{
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;

    
}
.games-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
/* .autistic-img{
    padding-top: 15px; 
}  */
.games-box-container img:hover{
    border-radius: 16px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.games-caption{
    color: #534C64;
 font-size: 20px;
 font-weight: 500;
}




@media screen and (max-width: 576px) {
    
.nav-container, .goat-section,.nav-menu, .games-box-container{
    flex-direction: column;
}
.nav-container, .games-section{
    margin: 2rem 0;
}
.goat-icon{
    padding: 0px;
}
.goat-section{
    
    padding: 0px;
    
}
.goat-title{ width: 100%;}

.nav-menu{
    padding-top: 30px;
}
.goat-img-box img{
    width: 100%;
}

.gamer-section{
    flex-direction: column;
    margin: 0px;
    text-align: center;
}
.gamer-img img{
    width: 100%;
}
}